@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* background: linear-gradient(green,yellowgreen); */
  background: linear-gradient(rgb(0, 170, 0),rgb(0, 170, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login_icon{
  margin: 0px 3%;
}
.input input{
  height: 50%;
  width: 85%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}